@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800&display=swap');
*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    /* background: rgb(69,252,222);
background: linear-gradient(90deg, rgba(69,252,222,1) 20%, rgba(101,253,29,0.9192051820728291) 69%); */
/* background: rgb(255, 255, 0);  */
/* background: linear-gradient(90deg, rgba(255, 230, 0, 0.548) 20%, rgba(253, 219, 29, 0.919) 69%); */

}





:root{
    --lg-font: 'kaisei Tokumin', serif;
    --sm-font: 'poppins', sans-serif;
}


 


nav{
    background-color: #edca00;
}

#offcanvasRight{
    background-color: #edca00;
    /* background-image: linear-gradient(to bottom right, #ffcd00, #000000); */

}
.offcanvas-body .offcanvas-ul li{
    background-image: linear-gradient(to bottom right, #ff8c00, #ffd700);

}




/*==Search-Banner========================*/
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    /* background-color: #ecf7ee; */
    background-color: #ecf7ee;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    /* background-image: url(bg.png); */
    background-image: url(/bg.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;
}
/* .bg{
    position: absolute;
    left: 85%;
    transform: translateX(-60%);
    top: 210px;
    width: 150px;
    height: 150px;
    object-position: bottom;
    object-fit: contain;
} */
.bg-1{
    position: absolute;
    left: -50px;
    top: -150px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.bg-2{
    position: absolute;
    left: 60%;
    transform: translateX(-60%);
    top: -75px;
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 70px;
    position: relative;
}
.search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #202020;
}
.search-banner-text strong{
    /* color: #4eb060; */
    color: #b0ae4e;
    font-size: 1.4rem;
    margin-top: 4px;
}
.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}
.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}
.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}
.search-box .search-btn{
    /* width:220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s; */
}

.search-box .search-btn{
    width:220px;
    height: 45px;
    background: linear-gradient(45deg, #eab308, #f59e0b); 
    border-color: #eab308;
    border-radius: 25px;
    /* padding: 15px 30px; */
    font-size: 1.2rem;
    transition: transform 0.3s, box-shadow 0.3s;
}
.search-box .search-btn:hover{
    /* background-color: #5ccf71; */
    /* background-color: #e0d85b; */
    transition: all ease 0.3s;
}

/*==category================================*/



/*==Download-app===================================*/
#download-app{
    max-width:1150px;
    width: 100%;
    background-color: #ecf7ee;
    height: 600px;
    margin: 25px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.app-img{
    width:275px;
    height: 550px;
    background-color: #ffffff;
    border: 4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}
.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.download-app-text{
    max-width:400px;
}
.download-app-text strong{
    color: #393939;
    font-size: 1.56rem;
}
.download-app-text p{
    color: #3b3b3b;
    margin: 15px 0px;
}
.download-btns{
    display: flex;
}
.download-btns a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.download-btns a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.store-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between buttons */
}

.store-btn .store-button {
    width: 200px;
    height: auto;
}




@media (min-width: 992px) {
    /* #category{
        width: 120px;
    } */

    /* .category-heading {
        text-align: center;
    }

    .category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        margin-left: 3rem;
    }

    .category-box {
        text-align: center;
    }

    .category-box img {
        width: 100%;
        height: auto;
    } */
    .footer-section section .footer-img img {
        width: fit-content;
    }

 .footer-container .link-section .link-container {
        width: 970px; /* Adjust the width as needed */
        max-width: fit-content; /* Ensures the container doesn't stretch beyond the specified width */
    }
    
}

@media (min-width: 767px) {
    /* .category-heading {
        text-align: center;
    }

    .category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        margin-left: 3rem;
    }

    .category-box {
        text-align: center;
    }

    .category-box img {
        width: 100%;
        height: auto;
    } */


    .footer-container .footer-section .link-section .link-container .footer-logo{
        text-align: center;
    }
    .footer-container .footer-section .link-section .link-container .footer-logo p{
        text-align: -webkit-center;
    }
    .footer-container .footer-section .link-section .link-container .company-footer h6 {
        text-align: center;

    }
    .footer-container .footer-section .link-section .link-container .company-footer p {
        text-align: center;

    }
    .footer-container .footer-section .link-section .link-container .useful-links{

        text-align: center;
    }
    .footer-container .footer-section .link-section .link-container .contact-footer{
        text-align: center;
    }
}
@media (min-width: 567px) {
    /* .category-heading {
        text-align: center;
    }

    .category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        margin-left: 3rem;
    }

    .category-box {
        text-align: center;
    }

    .category-box img {
        width: 100%;
        height: auto;
    } */

    /*==Download-app===================================*/

    /* #download-app{
        max-width:1150px;
        width: 100%;
        background-color: #ecf7ee;
        height: 400px;
        margin: 225px auto;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */
    .app-img{
        width:275px;
        height: 550px;
        background-color: #ffffff;
        border: 4px solid #393939;
        border-radius: 20px;
        overflow: hidden;
    }
    .app-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
    }
    .download-app-text{
        max-width:400px;
    }
    .download-app-text strong{
        color: #393939;
        font-size: 1.56rem;
    }
    .download-app-text p{
        color: #3b3b3b;
        margin: 15px 0px;
    }
    .download-btns{
        display: flex;
    }
    .download-btns a{
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 5px;
        overflow: hidden;
    }
    .download-btns a img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .store-buttons {
        display: flex;
        justify-content: center;
        gap: 20px; /* spacing between buttons */
    }
    
    .store-btn .store-button {
        width: 200px;
        height: auto;
    }

    
}

/* @media (min-width: 320px) {
    .category-heading {
        text-align: center;
    }

    .category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        align-items: center;
        margin-left: 3rem;
    }

    .category-box {
        text-align: center;
    }

    .category-box img {
        width: 100%;
        height: auto;
    }
} */